html, body {
    font-family: sans-serif;
}

.title{
    font-family: 'Libre BaskerVille', serif;
    margin: 30px;
}
.jumbotron {
    display: flex;
    align-items: center;
}

.picture {
    /* align-items: center; */
    width: 100%
}

.list {
    padding-top: 50px;
    align-items: center;
}