html, body {
    font-family: sans-serif;
}

.title{
    font-family: 'Libre BaskerVille', serif;
    margin: 30px;
}
.jumbotron {
    display: flex;
    background-size: cover;
}

.picture {
  margin: 20px;
  height: 100px;
  width: 100px;
}