html, body {
    font-family: sans-serif;
}

.title{
    font-family: 'Libre BaskerVille', serif;
    margin: 30px;
}
.jumbotron {
    display: flex;
    align-items: center;
}

.picture {
    margin: 0 0 30px;
    
}